$activeColor: rgba(255, 255, 255, 0.16);
$background: #262626;

.sidebar {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: -100%;
	background-color: $background;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 900;

	&.active {
		left: 0;
	}
}

.menu-icon {
	position: fixed;
	cursor: pointer;
	margin: 30px;
	transform: scale(1.4);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	height: 60px;
	padding: 5%;
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background-color: $activeColor;
	}

	&.sidebar-top {
		height: 90px;
		margin-bottom: 40px;
	}

	&.active {
		background-color: $activeColor;
	}
}

.icon {
	margin: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.sidebar {
		height: 100%;
		width: 250px;
		left: -250px;
	}

	li {
		justify-content: flex-start;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
